.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}

.Student-Card-parent{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}